doctype html
html(lang="ru")
    head
        title Выбери урок
        meta(charset="utf8")
    body
        h1 Выбери урок
        nav
            li
                a(href="lesson1") Lesson 1
            li
                a(href="lesson2") Lesson 2
            li
                a(href="lesson3") Lesson 3