doctype html
html(lang="ru")
    head
        title Светофор
        meta(charset="utf8")
        link(href="lesson2.css", rel="stylesheet")
        link(href="https://necolas.github.io/normalize.css/5.0.0/normalize.css", rel="stylesheet")
    body
        h1 Светофор
        div#container
            div#red
            div#yellow
            div#green