doctype html
html(lang="ru")
    head
        title Светофор
        meta(charset="utf8")
        link(href="lesson2.css", rel="stylesheet")
        link(href="normalize.css", rel="stylesheet")
    body
        h1 Светофор
        div#container
            div#red.circle
            div#yellow.circle
            div#green.circle
