doctype html
html(lang="ru")
    head
     title Статический документ
     meta(charset="utf-8")
    body
       h1 This is lesson 1
       p here is p
       hr
       span span
       br
       span another span
       hr
       img(src="https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-adult-landing-hero.ashx" alt="cat")