doctype html
html(lang="ru")
    head
        title Жизнь
        meta(charset="utf8")
        link(href="lesson3.css", rel="stylesheet")
        script(src="jquery-3.1.1.min.js")
        script(src="lesson3.js", defer)
        link(href="https://necolas.github.io/normalize.css/5.0.0/normalize.css", rel="stylesheet")
    body
        div#container