body {
    padding-left: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 60px;
    padding-left: 10px;
    background-color: dimgrey;
    justify-content: space-around;
}

#red {
    display: flex;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 5rem;
}

#yellow {
    display: flex;
    background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 5rem;
}

#green {
    display: flex;
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 5rem;
}