body {
    padding-left: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 60px;
    padding-left: 10px;
    background-color: dimgrey;
    justify-content: space-around;
}

.circle {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 5rem;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}
